	body {
		margin: 0;
		background-image: url("../images/stripes-light.png");
	}

	.container {
			width: 400px;
			padding: 20px;
			background-color: #ffffff;
			opacity: 0.75;
			border: solid gray 1px;
			font-weight: bold;
			color: #000000;
			line-height: 1.8;
			
	}

	header {
		background-color: orange;
		height: 40px;
		font-size: 20px;
		text-align: center;
	}
	div.rules {
		color: green;
		background: pink;
		margin-top: 20px;
		padding: 5px;
	}

	section {
		margin-top: 20px;
	}

	div.random-number {
		background: lightgreen;
		font-size: 40px;
		width: 160px;
		height: 90px;
		float: left;
		margin-right: 20px;
		padding: 5px;
	}

	

	div.counter {
		background-color: blue;
		float: left;
		width: 170px;
		height: 90px;
		padding: 5px;
	}

	button {
		clear: both;
		margin-top: 20px;
	}

	p#total-score {
		 background:darkgreen;
		 margin-top: 20px;
		 padding: 5px;
	}

	div#points-sum {
			background:darkgreen;
			font-size: 40px;
			width: 200px;
			height: 70px;
			margin-top: 20px;
			padding: 5px;
	}